* {
  font-family: 'Times New Roman', Times, serif;

}
body {
  background-color: lightblue;
}
header {
  background-color: #13293d;
  border: 50px;
  opacity: 1;
}
nav {
  display: flex;
  align-items: end;

}
nav a {
  color: #0084ff;
  border-bottom: 1px solid #0084ff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
#SiteName {
  float: left;
  margin: 10px;
  background-color: magenta;
}

@media screen and (max-width: 768px) {

  main,
  nav {
  flex-direction: column; 
  }
}
